<h2><%= job ? 'Edit Job' : 'New Job' %></h2>

<form method="POST" action="<%= job ? '/jobs/update/' + job._id : '/jobs' %>">
  <input type="hidden" name="_csrf" value="<%= _csrf %>">
  <label>Company</label>
  <input type="text" name="company" value="<%= job ? job.company : '' %>">

  <label>Position</label>
  <input type="text" name="position" value="<%= job ? job.position : '' %>">

  <label>Status</label>
  <input type="text" name="status" value="<%= job ? job.status : '' %>">

  <button type="submit"><%= job ? 'Update' : 'Create' %></button>
</form>