<h2>Jobs List</h2>
<a href="/jobs/new"><button type="button">Add New Job</button></a>
<table>
  <tr>
    <th>Company</th><th>Position</th><th>Status</th><th>Edit</th><th>Delete</th>
  </tr>
  <% jobs.forEach(job => { %>
    <tr>
      <td><%= job.company %></td>
      <td><%= job.position %></td>
      <td><%= job.status %></td>
      <td>
        <a href="/jobs/edit/<%= job._id %>">
          <button type="button">Edit</button>
        </a>
      </td>
      <td>
        <form method="POST" action="/jobs/delete/<%= job._id %>" style="display:inline;">
          <input type="hidden" name="_csrf" value="<%= _csrf %>">
          <button>Delete</button>
        </form>
      </td>
    </tr>
  <% }) %>
</table>